@import '../../../global.css';
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

.container_modal_places {
    position: fixed;
    background: var(--white-color);
    width: 364px;
    height: 400px;
    left: 380px;
    top: 200px;

    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
    border-radius: 7px;

}

.modal_places {
    
    position: absolute;
    left: 20px;
    top: 30px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;

    color: #380565;

}
.list_places {

    column-count: 2;

    position: absolute;
    left: 25px;
    top: 90px;

}
.list_image {

    width: 150px;
    cursor: pointer;
    margin-top: 15px;

}

.list_1 {
    position: absolute;
    left: 49px;
    top: 70px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;

    color: #ffff;
    cursor: pointer;


}
.list_2 {
    position: absolute;
    left: 185px;
    top: 70px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;

    color: #ffff;

    cursor: pointer;

}

.list_3 {
    position: absolute;
    left: 47px;
    top: 190px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;

    color: #ffff;

    cursor: pointer;


}
.list_4 {
    position: absolute;
    left: 208px;
    top: 190px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;

    color: #ffff;

    cursor: pointer;


}